* {
    padding: 0;
    margin: 0;
}

html, body, header, #intro {
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #335c38;
}

.centertext {
    text-align: center;
}

.centercontent {
    justify-content: center; 
}

.generaltable{
    background-color: #43a854;
    width: 100%;
    color: black;
}

.markettable{
    border: solid 2px white;
    text-align: center;
}

.footer {
     background-color: #363032;
     color: white;
 }