{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-8">
                <div class="row centercontent mx-2" style="background-color: #f36c6c; border: solid 2px orange;">
                    <h4>Your Cart</h4>
                </div>
                <div class="row mx-2" style="background-color: rgb(76, 167, 83);">
                    <div class="col-md-3 p-2">
                        <img src="{% static 'images/dustpan.jpg' %}" height="150px" width="200px">
                    </div>
                    <div class="col-md-5 p-2">
                        <h5>Comfortable, long handle</h5>
                        <p>Available</p>

                    </div>
                    <div class="col-md-2 p-2">
                        <h4>Rs.250</h4>
                    </div>
                    <div class="col-md-2 p-2">
                        <h3>- &nbsp 1 &nbsp +</h3>
                    </div>
                </div>

                <div class="row mx-2" style="background-color: rgb(76, 167, 83);">
                    <div class="col-md-3 p-2">
                        <img src="{% static 'images/sprayer.jpg' %}" height="150px" width="200px">
                    </div>
                    <div class="col-md-5 p-2">
                        <h5>Durable, useful for gardening and cleaning purpose </h5>
                        <p>Available colors: Blue, orange</p>

                    </div>
                    <div class="col-md-2">
                        <h4>Rs.140</h4>
                    </div>
                    <div class="col-md-2">
                        <h3>- &nbsp 1 &nbsp +</h3>
                    </div>
                </div>

                <div class="row mx-2" style="background-color: rgb(76, 167, 83);">
                    <div class="col-md-3 p-2">
                        <img src="{% static 'images/gloves.jpg' %}" height="150px" width="200px">
                    </div>
                    <div class="col-md-5 p-2">
                        <h5> Durable, Resuable </h5>
                        <p>Out of stock</p>

                    </div>
                    <div class="col-md-2">
                        <h4>Rs.90</h4>
                    </div>
                    <div class="col-md-2">
                        <h3>- &nbsp 1 &nbsp +</h3>
                    </div>
                </div>

            </div>
 
            <div class="col-md-4" >
                <div class="row centercontent" style="background-color: #f36c6c; border: solid 2px orange;">
                    <h4>Order Summary</h4>
                </div>
                <div class="row p-1">
                    <div class="col-md-8">Total items (0 items)</div>
                    <div class="col-md-4 centertext">Rs.0</div>
                </div>
                <div class="row p-1">
                    <div class="col-md-8"><input type="text" placeholder="Enter Voucher Code..." size=""></div>
                    <div class="col-md-4 centertext" style="background-color: skyblue;"><h6>Apply</h6></div>
                </div>
                <div class="row p-1">
                    <div class="col-md-8">Total Amount:</div>
                    <div class="col-md-4 centertext"><h6>Rs.0</h6></div>
                </div>
                <div class="row centercontent p-2" style="background-color: green; color: white;"> <h5>PROCEED TO CHECKOUT</h5></div>
            </div>
        </div>
    </div>


{% endblock %}