{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container news">
    
        {% for newz in news %}
        <div class="row p-1 m-1 centercontent" >
            <h4> {{ newz.headline}}</h4>
        </div>
        {% endfor %}
    
    </div>


    <div class="container p-2">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="row m-2 px-1" style="background-color: #f36c6c; border: solid 2px orange;">
                    <h5>Recent News</h5>
                </div>

                <div class="row m-2 p-2" style="color: white; background-color: #43a854;">
                    <div class="">
                        <p>>> The Government has planned to distribute free seeds to farmers</p>
                    </div>
                    <div class="">
                        <p>>> Know the reasons behind the drastic change in the price of tomato; Is it because of border seize?</p>
                    </div>
                    <div class="">
                        <p>>> Experts predict the future of market </p>
                    </div>
                    <div class="">
                        <p>>> Heavy rainfall has swept away farmer's cultivated land </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-2">
                <div class="row m-2 px-1" style="background-color: #f36c6c; border: solid 2px orange;">
                    <h5>Most Viewed News</h5>
                </div>

                <div class="row m-2 p-2" style="color: white; background-color: #43a854;">
                    <div class="">
                        <p>>> The Government has planned to distribute free seeds to farmers</p>
                    </div>
                    <div class="">
                        <p>>> Heavy rainfall has swept away farmer's cultivated land</p>
                    </div>
                    <div class="">
                        <p>>> The Government has planned to distribute free seeds to farmers</p>
                    </div>
                    <div class="">
                        <p>>> The Government has planned to distribute free seeds to farmers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}