{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container-fluid">

    <div class="row centercontent m-3">
        <div>
            <input type="text" placeholder="Search..." size="50">
        </div>
    </div>


    <div class="row">
        <div class="col-md-3" >

            <div class="row px-2 mx-2" style="background-color: #f36c6c; border: solid 2px orange;">
                <h4>Categories</h4>
            </div>

            <div class="row p-3 mx-2 mb-3" style="color: white; background-color: #43a854;">
                <ul style="list-style-type: none;">
                    <li>Nursery</li>
                    <li>Seeds</li>
                    <li>Fertilizers</li>
                    <li>Agricultural Tools</li>
                    <li>Machinery</li>
                    <li>Homemade Pickel</li>
                </ul>
            </div>

            <div class="row px-2 mx-2" style="background-color: #f36c6c; border: solid 2px orange;">
                <h4>Recent Products</h4>
            </div>
            <div class="row marketshop shopitem mx-2 mb-3" style="background-color: #363032;
                                                                color: white;
                                                                height: 280px;
                                                                overflow-y : hidden;
                                                                overflow-x: scroll;
                                                                border: solid 3px green;
                                                                }">
                    {% for prdt in products %}
                    <div class="col-md-4">
                        <div class="row centercontent"><img src="{{baseUrl}}/{{prdt.img}}" width="200px" height="200px"></div>
                        <div class="row centercontent">{{ prdt.name }}</div>
                        <div class="row centercontent" >Rs.{{ prdt.price }}</div>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <div class="col-md-9">
            <div class="row shopbar mx-2" style="background-color: #f36c6c; border: solid 2px orange; color: black;">
                <h4>Shop</h4>
            </div>

                <div class="row shop1 shopitem mx-2 mb-4">
                    {% for prdt in products %}
                    <div class="col-md-4">
                        <div class="row centercontent"><img src="{{baseUrl}}/{{prdt.img}}" width="200px" height="200px"></div>
                        <div class="row centercontent">{{ prdt.name }}</div>
                        <div class="row centercontent" >Rs.{{ prdt.price }}</div>
                    </div>
                    {% endfor %}
                </div>     
        </div>

    </div>

</div>

{% endblock %}